.install/firefox-esr/
.install/firefox-esr/libxul.so
firefox-esr/
.env
YT_RTMP_URL=rtmps://a.rtmp.youtube.com/live2/xcuz-3x1d-9y7v-ghec-2xmh

# Video recordings
/video/*.mp4
video/*_play_log.csv
video/uploaded/
*.mp4
*.mov
*.mkv
output.mp4
livestream_logs/
output/
