python-dotenv>=1.0.0
ultralytics==8.*
deep_sort_realtime
easyocr
opencv-python
torch
schedule>=1.2.0
# Google Drive sync
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
tqdm

numpy
scipy
pandas
# trackers
onemetric
lap
filterpy

# Optional helpers
# mmpose==1.*
